@import url(header.css);
@import url(cartao.css); 
@import url(resumo.css);

html {
    background-image: url(../image/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'muliregular';
    font-size: 12px;
}

h1,h2,h3,ul {
    margin: 0;padding: 0;
}

#checkout {
     width: 900px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.27);
    }

#checkout main {
    display: flex;
}


